body {
  font-family: Arial, sans-sarif;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-right {
  font-size: 20px;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
}



.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.banner .row {
  margin-top:0;
  padding-left:0;
  text-align: left;
}

.banner h1 {
  color:red;
  font-size: 70px;
  z-index: 2;

}

.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.moreInfo p {
  color: grey;
}
  .performance {
    background-color: green;
    height: 300px;
    color: white;
    text-align: center;
  }
  .power {
    background-color: red;
    height: 300px;
    color: white;
    text-align: center;
  }
.handling {
   background-color: black;
   height: 600px;
   color: white;
   text-align: center;
 }
 .accessories {
   background-color: orange;
   height: 300px;
   color: white;
   text-align: center;
 }
.charged {
  background-color: blue;
  height: 300px;
  color: white;
  text-align: center;
}
.viewMore {
  background-color: red;
  height: 300px;
  color: white;
  text-align: center;
}
.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid #ecedf1;
}
.testimonials blockquote:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote img {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid #ecedf1;
  background: white;
  bottom: -65px;
  left: 50%;
  margin-left: -25px;
}

blockquote p.clients-words {
    font-size: 14px;
}
span.clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.text-primary {
    color: black;
}

.snippet {
  background-color: rgb(236, 234, 230);
}
